.Home-cont {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
}

.Home-grid {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px;
  grid-template-rows: 125px 125px 125px;
}

#aboutMe {
  grid-column: 2;
  grid-row: 1;
}

#lilTanks {
  grid-column: 4;
  grid-row: 1;
}

#jobly {
  grid-column: 1;
  grid-row: 2;
}

#lipslut {
  grid-column: 3;
  grid-row: 2;
}

#algorithms {
  grid-column: 5;
  grid-row: 2;
}

#resume {
  grid-column: 2;
  grid-row: 3;
}

#contact {
  grid-column: 4;
  grid-row: 3;
}

@media only screen and (max-width: 800px) {
  #aboutMe {
    grid-column: 3;
    grid-row: 1;
  }

  #lilTanks {
    grid-column: 2;
    grid-row: 2;
  }

  #jobly {
    grid-column: 4;
    grid-row: 2;
  }

  #lipslut {
    grid-column: 3;
    grid-row: 3;
  }

  #algorithms {
    grid-column: 2;
    grid-row: 4;
  }

  #resume {
    grid-column: 4;
    grid-row: 4;
  }

  #contact {
    grid-column: 3;
    grid-row: 5;
  }
}
