@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 54, 86);
  background-image: linear-gradient(45deg, rgb(35, 54, 86), rgb(81, 103, 141));
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}
/*
https://color.adobe.com/Kopia-av-Kopia-av-forest-in-pine-color-theme-11618619/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20Kopia%20av%20Kopia%20av%20forest%20in%20pine&mode=rgb&rgbvalues=0.13725490196078433,0.21176470588235294,0.33725490196078434,0.2549019607843137,0.3568627450980392,0.4627450980392157,0.4823529411764706,0.6078431372549019,0.6509803921568628,0.803921568627451,0.8392156862745098,0.8352941176470589,0.9333333333333333,0.9568627450980393,0.9490196078431372&swatchOrder=0,1,2,3,4
*/
